<template name="features">
	<div class="container">
        <div class="row">
            <div class="phone android col-md-12 col-sm-12 col-xs-12">
                <div class="android-holder phone-holder text-center">
                <img src="img/WW2_Home.jpg"  alt="water can supply" />
                </div>
            </div>
        </div>
    </div>
    <div class="container">
	    <div class="row">
	        <div class="item col-md-4 col-sm-6 col-xs-12 text-center">
	            <div class="content">
	                <h3 class="title text-center" style="color:darkgreen;">Easy Access</h3>
	  				<p class="text-center" >Login into Tickdoor with your gmail or facebook login. </p>
	         	</div><!--//content-->
	        </div><!--//item-->
	        <div class="item col-md-4 col-sm-6 col-xs-12 text-center">
	            <div class="content">
	                <h3 class="title text-center" style="color:darkgreen;">Few Details</h3>
	  				<p class="text-center" >Provide us just your Address and Mobile number as you order. </p>
	            </div><!--//content-->
	        </div><!--//item-->
	        <div class="item col-md-4 col-sm-6 col-xs-12 text-center">
	            <div class="content">
	                <h3 class="title text-center" style="color:darkgreen;">Flexible Plans</h3>
	  				<p class="text-center" >Order 20 litre water bottles. You can choose quantity and also can subscribe to our weekly, monthly and other subscription plans based on your need. </p>
	            </div><!--//content-->
	        </div><!--//item-->
	    </div><!--//row-->

	    <div class="row feature-row-last">
	    	<div class="item col-md-4 col-sm-6 col-xs-12 text-center">
	            <div class="content">
	                <h3 class="title text-center" style="color:darkgreen;">Delivery</h3>
	  				<p class="text-center" >We deliver the Water cans to your Doorstep ASAP. </p>
	            </div><!--//content-->
	        </div><!--//item-->
	        <div class="item col-md-4 col-sm-6 col-xs-12 text-center">
	            <div class="content">
	               <h3 class="title text-center" style="color:darkgreen;">Deposit</h3>
	  				<p class="text-center" >If you are a customer without an existing Water can, we collect a deposit of Rs.150/- (refundable) for the water can. </p>
	            </div><!--//content-->
	        </div><!--//item-->
	        <div class="item col-md-4 col-sm-6 col-xs-12 text-center">
	            <div class="content">
	                <h3 class="title text-center" style="color:darkgreen;">Cancellation</h3>
	  				<p class="text-center" >You can cancel your orders. Just that we would need to know your cancellation a little in advance to our daily operations. </p>
	            </div><!--//content-->
	        </div><!--//item-->
	    </div><!--//row-->
	</div><!--//container-->
</template>