<template name="aboutus">
	<div class="container">
        <div class="row">
            <div class="overview col-md-8 col-sm-12 col-xs-12" style="padding-top: 100px">
                <div class="content">
	                <h3 class="title" style="color:darkgreen;">About Us</h3>
	  				<p style="max-width:640px">We are a small group of young enthusiasts who are trying to solve a small practical problem that we faced ourselves on a daily basis.However, we intend to do it at a larger scale ! :) </p>
	         	</div><!--//content-->
            </div>

            <div class="phone android col-md-4 col-sm-12 col-xs-12">
                <div class="android-holder phone-holder">
                <img src="img/WW2_Home.jpg"  alt="water can supply" />
                </div>
            </div>
        </div>
    </div>
</template>