<template name="orderNow">
	<div class="container">
        <div class="row">
            <div class="phone android col-md-4 col-sm-12 col-xs-12">
                <div class="android-holder phone-holder">
                <img src="img/WW2_Home.jpg"  alt="water can supply" />
                </div>
            </div>
	        <div class="phone android col-md-8 col-sm-12 col-xs-12">
	        	<h3>Order Now</h3>
				{{> quickForm collection="Orders" class="form-orderNow" id="form-orderNow" type="insert" label-class="sr-only" afFieldInput-placeholder="schemaLabel"}}
			</div>
		</div>
    </div>
</template>
