<template name="home">
	<div class="container">
        <div class="row">
            <div class="overview col-md-8 col-sm-12 col-xs-12" style="padding-top: 100px">
                <h2 class="title">An attempt to waitless, cheap and pure delivery of 20 litres water can bottles at your DOORSTEP.</h2>
                <!--<h3 class="title" style="color:darkgreen;">Refer your friend and drink Quality water for free.</h3>
                <h3 class="title" style="color:darkgreen;">One quality bottle refill is free for new customers.</h3> -->
            </div>

            <div class="phone android col-md-4 col-sm-12 col-xs-12">
                <div class="android-holder phone-holder">
                <img src="img/WW2_Home.jpg"  alt="water can supply" />
                </div>
            </div>
        </div>
    </div>
</template>